 <!-- 
   But :    Projet 307
   Auteur : Romain Jacquier
   Date :   05.06.2023 / V1.0 
   -->

<!DOCTYPE html>


    <div id="home" class="reverse">
        <img src="./images/Zermatt.jpg" alt=" image Zermatt">

        <div class="article">
          <h2>Introduction</h2>
          <p>C’est un site web qui permet de se renseigner sur les villes de suisses. Il y a égalemment des informations sur tout les pays du monde.
             </p>
        </div>
      </div>
    


    <div class="container">
      <img src="./images/Terre.jpg" alt="image Earth">
      <div class="reverse-citation">
        <p class="citation"> « Never stop exploring»</p>
        <p>The North Face</p>
      </div>
    </div>



  