<!DOCTYPE html>


<div class="container">
  <img src="./images/img-source.jpg" alt=" image Zermatt">
  <div class="article">
    <h2>Les sources</h2>
    <table class="source">
      <tr>
        <th>Lien / Page / Image</th>
      </tr>
      <tr>
        <td>
          <a
            target="_blank"
            href="https://www.helvetic.com/fr/destination/brn-bern"
            >Lien background page 1</a
          >
        </td>
      </tr>
      <tr>
        <td>
          <a
            target="_blank"
            href="https://www.alibabuy.com/guide-touristique/suisse/zermatt.html"
            >Lien image Zermatt page 1</a
          >
        </td>
      </tr>
      <tr>
        <td>
          <a
            target="_blank"
            href="https://www.science-et-vie.com/nature-et-environnement/la-terre-pourrait-devenir-une-planete-morte-plus-vite-que-prevu-64478.html"
            >Lien image Earth page 1</a
          >
        </td>
      </tr>
      <tr>
        <td>
          <a
            target="_blank"
            href="https://www.watson.ch/fr/suisse/cantons/979334918-geneve-est-la-ville-la-plus-bruyante-de-suisse"
            >Lien background page 2</a
          >
        </td>
      </tr>
      <tr>
        <td>
          <a
            target="_blank"
            href="https://unsplash.com/fr/wallpapers/travel/city"
            >Lien background page 3</a
          >
        </td>
      </tr>
      <tr>
        <td>
          <a
            target="_blank"
            href="https://facilethings.com/blog/en/big-city-or-small-town-what-is-more-productive"
            >Lien background page 4</a
          >
        </td>
      </tr>
    </table>
  </div>
</div>
